<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".E2EHostActivity"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@style/Theme.IMPSTR" />
    </application>
</manifest>
